# .bashrc

# Source global definitions
if [ -f /etc/bashrc ]; then
	. /etc/bashrc
fi

# User specific environment
PATH="$HOME/.local/bin:$HOME/bin:$PATH"
export PATH

# Uncomment the following line if you don't like systemctl's auto-paging feature:
# export SYSTEMD_PAGER=

# User specific aliases and functions


# EDITED FROM HERE!!!
# -------------------

# UMASK 644
umask 022

# Make Prompt Attractive 
# export PS1='\[\033[02;33m\]\u@\H:\[\033[02;34m\]\W\$\[\033[00m\] '
export PS1='\[\033[{{ color }}m\]\u@\H:\[\033[34m\]\w\$\[\033[00m\] '

# Add Paths
export PATH="$HOME/.local/gbin:$PATH"

# Set Editors
export VISUAL=vim
export EDITOR="$VISUAL"

# fix locale issue
export LANGUAGE=en_US.UTF-8
export LANG=en_US.UTF-8
export LC_ALL=en_US.UTF-8

# GPG
export GPG_TTY=$(tty)

# ENV-SECRETS
[ -f ~/.env-secrets ] && [ -x ~/.local/gbin/env-secrets ] && . ~/.local/gbin/env-secrets
[ "$ENV_SECRETS_WARN" == "true" ] && export PS1='\[\033[{{ color }}m\]\u@\H:\[\033[34m\]\w\[\033[31m\]!\[\033[00m\] '
